{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "indent": [
      2,
      "tab"
    ],
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "semi": true,
        "singleQuote": true,
        "useTabs": true,
        "tabWidth": 2,
        "trailingComma": "none"
      }
    ]
  },
  "plugins" : [
    "prettier"
  ],
  "ignorePatterns": [
    "package.json",
    "node_modules/"
  ]
}
