:root {
  --global-margin: 2em;
  --yellow: #FFC145;
  /* https://coolors.co/b8b8d1-5b5f97-ffc145-fffffb-ff6b6c */
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100%;
}

main {
  display: flex;
  justify-content: center;
}

input[name='textarea'] {
  background: #f2f2f2;
  border: 0;
  border-bottom: solid 1px;
  font-size: 24px;
  padding: 1em;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 38px;
  line-height: 1.5;
  margin: var(--global-margin) 0;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  max-width: 1200px;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

.output {
  font-size: 24px;
  height: 24px;
  margin: var(--global-margin) 0;
}