:root {
  --global-margin: 2em;
  --background: #5B5F97;
  --main: #FFC145;
  /* https://coolors.co/b8b8d1-5b5f97-ffc145-fffffb-ff6b6c */
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--main);
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100%;
}

main {
  display: flex;
  justify-content: center;
}

input[name='textarea'] {
  background: rgba(255,255,255,.5);
  border: 0;
  border-bottom: solid 1px var(--main);
  font-size: 24px;
  padding: .5em;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 38px;
  line-height: 1.5;
  margin: var(--global-margin) 0;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: flex-start;
  max-width: 1200px;
  padding: 0 2rem;
  width: 100%;
  text-align: center;
}

#output {
  font-size: 24px;
  min-height: 24px;
  margin: var(--global-margin) 0;
  word-break: break-all;
}

.btn {
  border: 1px solid var(--main);
  border-radius: 3px;
  background: var(--main);
  color: #fff;
  cursor: pointer;
  font-family: 'Luckiest Guy', cursive;
  font-size: 22px;
  padding: 0.5em 1em;
}
